.container{
    background-color:#e4e5e6;
}

.dummy{
    height: 60px;
}

.navigation{
    display: table;
    margin: 0 auto;
}

ul#navBar{
    list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}
ul#navBar li{
    float: left;
    
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.outerContent{
    display: flex;
    width: 99vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 35px;

}

.leftContent{
    width:20vw;
    border-radius: 41px;
}
.centerContent{
background-image: url('/images/main.jpg');
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.5;
width:60vw;
border-radius: 41px;
}

.rightContent{
background-image: url('/images/search_bg.jpeg');
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width:20vw;
border-left-style: outset;
border-top-style: outset;
border-left-width: 10px;
border-top-width: 10px;
border-left-color: darkgray;
border-top-color: darkgray;
border-radius: 41px;
}

.searchForm{
    margin: 20 0 0 10px;
}

.list-title{
    padding-left: 13px;
    color: #83878eeb;
    padding-top: 30px;
}

.users{
    padding-left: 10px;
}

.users li{
    background-image: url(/images/dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10px;
    list-style-type: none;
    color: #d3d3e0;
    font-variant-caps: all-small-caps;
    font-size: large;
    margin-bottom: 10px;
    padding: 16px;
}

.modal { 
    display: none; 
    position: relative; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width:50vw;  
    overflow: auto; 
    background-image: url(/images/bg3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 38px;
    border-left-width: 8px;
    border-left-style: groove;
    border-left-color: #cccccc;
    border-top-style: groove;
    border-top-color: #cccccc;
    border-top-width: 8px;
    border-bottom-style: groove;
    border-bottom-width: 8px;
    border-bottom-color: #cccccc;
    border-right-style: groove;
    border-right-width: 8px;
    border-right-color: #cccccc;
}
/*define the modal-content background*/ 

.modal-content { 
    background-color: #fefefe; 
    margin: 5% auto 15% auto; 
    border: 1px solid #888; 
    width: 45%; 
    background:rgba(0,0,0,0.7);
    border-radius: 30px
} 

.close { 
    position: absolute; 
    right: 35px; 
    top: 15px; 
    color: #fff; 
    font-size: 40px; 
    font-weight: bold; 
} 
/*define the close hover and focus effects*/ 

.close:hover, 
.close:focus { 
    color: red; 
    cursor: pointer; 
} 


#profileName{
    margin-left:30%;
    margin-top:-15%;
    color: #d3d3e0;
}

#myImg{
    margin-left: 20px;
    margin-top: 20px;
}

#favGenre{
    margin-top:10%;
    margin-left:30%;
    color: #d3d3e0;
}
#favAuthor,
#favBook,
#lastReadBook{
    margin-left:30%;
    color: #d3d3e0;
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
    background-image: url(/images/dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #d3d3e0;
    border-bottom-width: 6px;
    border-bottom-color: #d3d3e0;
    
}


