.container{
    background-color:#e4e5e6;
}
body{
    background-image: url(/images/main2.jpg);
}

.dummy{
    height: 40px;
    background-image: url(/images/main2.jpg);
}

.navigation{
    display: table;
    margin: 0 auto;
}

ul#navBar{
    list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}
ul#navBar li{
    float: left;
    
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.outerContent{
    display: flex;
    width: 99vw;
    height: 76vh;
    display: flex;
    justify-content: center;
    margin-top: 23px;

}

.leftContent{
    width:20vw;
    border-radius: 41px;
}
.centerContent{
background-image: url('/images/main2.jpg');
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width:60vw;
border-radius: 41px;
}

.rightContent{
background-image: url('/images/search_bg.jpeg');
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width:20vw;
border-left-style: outset;
border-top-style: outset;
border-left-width: 10px;
border-top-width: 10px;
border-left-color: darkgray;
border-top-color: darkgray;
border-radius: 41px;
}

.leftContent{
    background-image: url('/images/search_bg.jpeg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:20vw; 
    border-right-style: outset;
    border-top-style: outset;
    border-right-width: 10px;
    border-top-width: 10px;
    border-right-color: #f6f6f6;
    border-top-color: darkgray;
    border-radius: 41px;
}

#profilePic{
    margin-left: 23%;
    margin-top: -69px;
    border-radius: 70px;
    border-style: solid;
    border-color: crimson;
}

#myProfileName{
    text-align: center;
    padding-right: 16px;
    font-size: xx-large;
    margin-top: 9px;
    text-transform: capitalize;
}

#favDetails{
font-family: fantasy;
text-align: center;
margin-top: -14px;
}
#currentlyReading{
text-align: center;
}
#editIcon{
float: right;
margin-top: -39px;
margin-right: 6px;
}

.searchForm,
.bookSearchForm{
    margin: 20 0 0 10px;
}

.list-title{
    padding-left: 13px;
    color: #83878eeb;
    padding-top: 30px;
}

.users{
    padding-left: 10px;
}

.users li{
    background-image: url(/images/dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10px;
    list-style-type: none;
    color: #d3d3e0;
    font-variant-caps: all-small-caps;
    font-size: large;
    margin-bottom: 10px;
    padding: 16px;
}

.notifcs{
    margin-top: 0%;
    margin-bottom: 0%;
}

.notifcs li{
    background-image: url(/images/dark.jpg);
    background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background-image: url(/images/brown1.jpg);
    border-style: groove;

    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 10px;
    list-style-type: none;
    color: #d3d3e0;
    /* font-variant-caps: titling-caps; */
    font-size: smaller;
    padding: 15px;
    text-align: center;
}

.notifcs li.notifcItem{
color: #000;
height: fit-content;
}
.notifcItem{
color: #000;
}

.notifcsListBar{
    position: absolute;
    margin-right: 1%;
    width: 24%;
    margin-left: -23%;
}

.modal { 
    display: none; 
    position: relative; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width:45vw;  
    overflow: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 38px;
    border-left-width: 8px;
    border-left-style: groove;
    border-left-color: #cccccc;
    border-top-style: groove;
    border-top-color: #cccccc;
    border-top-width: 8px;
    border-bottom-style: groove;
    border-bottom-width: 8px;
    border-bottom-color: #cccccc;
    border-right-style: groove;
    border-right-width: 8px;
    border-right-color: #cccccc;
    margin-left:80px;
}

#userProfile{
    background-image: url(/images/bg4.jpg);
}

/*define the modal-content background*/ 

.modal-content { 
    background-color:#fefefe; 
    margin: 5% auto 15% auto; 
    border: 1px solid #888; 
    width: 45%; 
    background:rgba(0,0,0,0.7);
    border-radius: 30px
} 

.close { 
    position: absolute; 
    right: 35px; 
    top: 15px; 
    color: #fff; 
    font-size: 40px; 
    font-weight: bold; 
} 
/*define the close hover and focus effects*/ 

.close:hover, 
.close:focus { 
    color: red; 
    cursor: pointer; 
} 


#profileName{
    margin-left:30%;
    margin-top:-15%;
    color: #000;
}

#myImg{
    margin-left: 20px;
    margin-top: 20px;
}

#favGenre{
    margin-left:30%;
    color: #000;
}
#favAuthor,
#favBook,
#lastReadBook{
    margin-left:30%;
    color: #000;
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
    background-image: url(/images/dark.jpg);
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #d3d3e0;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-color:#fff;
    border-left-color: #fff;
    border-right-color:#fff;
    border-radius: 30px;
    
}

.ui-menu-item{
    max-width: 490px;
    
    background-color: #f1f1f1;
}



.profileOptionIcons{
    margin-left: 22px;
    padding-top: 60px;
}

#connectionIndicator,
#chatIndicator {
    margin-left: 15px;
}

#contactIndicator,
#connectionIndicator,
#chatIndicator {
    border-radius: 38px;
}
#bookSearchArea{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 62%;
    height: 36px;
    margin-left: 10%;
}

#bookSearchButton{
    width: 36px;
    height: 32px;
    margin-left: 16px
}

#bookProfile{
    width: 92%;
    height: 80%;
    margin-left: 8%;
    margin-top: 3%;
    border-radius: 30px;
}

#bookImage{
    margin-left: 3%;
    margin-top: 6px;
    border-style: double;
    border-color: blue;
}

#bookDetails{
    width: 73%;
    overflow-y: scroll;
}

#bookName{
    font-size: xx-large;
    text-transform: capitalize;
    font-style: italic;
    margin-left: 22px;
    margin-top: -5%;
    text-align: center;
}

#bookAuthor{
    text-align: center;
    margin-bottom: 6%;
}

#bookType{
    text-align: center;
}

#bookIcons{
    display: flex;
    justify-content: center;
}

#genreIcon,
#ratingIcon,
#totalPagesIcon{
    padding-left: 3%;
    margin-top: 2%;
}

#genreIconValue,
#ratingIconValue,
#totalPagesIconValue{
    margin-left: 3px;
}

#bookDescription{
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
    font-style: oblique;
}

#bookShelf{
    height: 25px;
    position: fixed;
    width: 9%;
    margin-top: 16%;
    margin-left: 1.5%;
    font-family: Arial;
    border-radius: 20px;
    background-color: #d3d3e0;
} 
#bookShelf:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

#goButtonBookShelf{
    position: fixed;
    margin-top: 15.8%;
    margin-left: 11.5%;
}  




.search-box {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 67%;
    height: 40px;
    margin-left: 10%;
    margin-top: 2%;
  }

  .search,
.prev {
  display: none;
}
  .results {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .prompt {
    display: flex;
    padding: 16px;
    color: var(--secondary-color);
    transition: all 0.2s;
  }
  
  .list-book,
  .bookSuggestionList {
    display: flex;
    padding: 32px 16px;
    width: 100%;
    flex-wrap: wrap;
  }

  .activitiesList{
    
    padding: 32px 16px;
    width: 93%;
    flex-wrap: wrap;
  }

  
  .book {
    display: flex;
    margin: 16px;
    padding: 32px;
    border-radius: 32px;
    flex: 1;
    border-style: inset;
  }

  .activityBlock{
    display: flex;
    margin: 16px;
    padding: 32px;
    border-radius: 32px;
    flex: 1;
    
  }

  #activityHeader{
    font-family: cursive;
    font-size: large;
  }

  .activityImage{
    margin-top: 10%;
  margin-left: 18%;
  border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    transform: translate(0, -64px);
    animation: zoomin 0.5s;
    cursor: pointer;
    border-style: groove;
  }
  
  .activityImage:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    transform: translate(0, -64px) scale(1.1);
  }

  .book-info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .thumbnail {
    margin-right: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    transform: translate(0, -64px);
    animation: zoomin 0.5s;
    cursor: pointer;
    border-style: groove;
  }
  
  .thumbnail:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    transform: translate(0, -64px) scale(1.1);
  }

  .book-title {
    display: -webkit-box;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    font-weight: 900;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    cursor: pointer;
  }
  
  .book-authors {
    display: -webkit-box;
    overflow: hidden;
    margin: 16px 0;
    color: var(--secondary-color);
    text-overflow: ellipsis;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  .info {
    display: inline-flex;
    padding: 8px 16px;
    border-radius: 32px;
    color: var(--secondary-color);
    text-align: center;
    font-weight: 600;
    font-size: 12px;
  }

  .notification{
    float: right;
    margin-right: 3%;
    margin-top: -2%;
    width:10%
  }

  #messageIcon{
    margin-left: 9%;
    border-radius: 30px;
  }
  #notificationIcon{
    border-radius: 30px;
  }
  #notificationNumber{
    margin-top: -34%;
    /* margin-right: 6%; */
    margin-left: -6%;
    color: white;
    background-color:#fd7f3bd4;
    border-radius: 34px;
    width: 15px;
    height: 20px;

  }
  #suggestionWaitMessage{
      padding-left:10%;
      text-align: center;
      font-size: large;
      color: blue;
  }
  
  #bookSuggestionRefresh{
    float: right;
    margin-right: 4%;
  }

  #refreshIcon{
    border-radius: 38px;
  }
